header {
  width: calc(100vw - 20px);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tokens {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.tokens > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
