/*
*   GENERAL
*/

.body {
  padding: 10px 20px;
  background: rgb(10, 58, 42);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  position: relative;
}

body img {
  height: 30px;
  width: 30px;
}

.body.small {
  width: 20vw;
  height: 30px;
  animation: become-small 1s forwards;
}
.body.wide {
  width: 30vw;
  height: 30px;
  animation: become-wide 1s forwards;
}

@keyframes become-wide {
  from {
    width: 20vw;
  }

  to {
    width: 30vw;
  }
}

@keyframes become-small {
  from {
    width: 30vw;
  }

  to {
    width: 20vw;
  }
}

/*
*   LEFT
*/

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 0px;
}

.cross {
  position: relative;
  left: -35px;
  bottom: -5px;
  opacity: 0;
  animation: wallet-cross 1.2s ease-out both;
  animation-delay: 1s;
}

.check {
  position: relative;
  left: -32px;
  bottom: -2px;
  opacity: 0;
  animation: wallet-check 1.2s ease-out both;
  animation-delay: 1s;
}

@keyframes wallet-cross {
  from {
    position: relative;
    left: -95px;
    opacity: 0;
    transform: rotate(-180deg);
  }

  to {
    position: relative;
    left: -35px;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes wallet-check {
  from {
    position: relative;
    left: -95px;
    opacity: 0;
    transform: rotate(-180deg);
  }

  to {
    position: relative;
    left: -32px;
    opacity: 1;
    transform: rotate(0deg);
  }
}

/*
*   CENTER
*/

.center {
  opacity: 0;
  animation: show 1s ease-out both;
  animation-delay: 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
*   RIGHT
*/

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.right img {
  margin-right: 5px;
}
.right img.pulsate {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
