html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

body {
  background: rgb(10, 58, 42);
  background: linear-gradient(
    158deg,
    rgba(10, 58, 42, 1) 0%,
    rgba(19, 122, 99, 1) 50%
  );
  display: grid;
  place-items: center;
}

#root {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 1.5rem;
}
