html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

#root {
  background: rgb(10, 58, 42);
  background: linear-gradient(
    158deg,
    rgba(10, 58, 42, 1) 0%,
    rgba(19, 122, 99, 1) 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}

button {
  color: #0a3a2a;
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  transition: 0.3s;
}
button:hover {
  color: white;
  background-color: #137a63;
  border: solid 1px #137a63;
}

input[type="text"] {
  border: solid 2px transparent;
}
input[type="text"].error {
  border-color: red;
  outline: none;
}
